.form{
  display: block;
  margin-top: 100px ;
  margin-left: 100px;
  border: 2px solid red;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

#fichier{
  margin: 10px;
}

#mail_dest{
  margin: 15px;
}

#mail_exp{
  margin: 15px;
}

#env{
  margin-left: 170px;
  margin-bottom: 10px;
}
