.form{
  display: block;
  margin-top: 160px ;
  margin-left: 100px;
  border: 2px solid;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}

.login{
	margin-top: 10px;
	margin-left: 10px;
}


#fichier{
  margin: 10px;
  border-radius: 5px;
}

#mail_dest{
  margin: 15px;
  border-radius: 5px;
}

#mail_exp{
  margin: 15px;
  border-radius: 5px;
}

#env{
  margin-left: 170px;
  margin-bottom: 10px;
}

#login_dest{
  border-radius: 5px;

}