header{
    background-color: rgba(255, 255, 255, 0.5);
    height: 110px;
}

h1 {
      font-family: "Indie Flower";
      font-weight: bold;
      font-size: 60px;
  }

  h1::first-letter {
    text-transform: uppercase;
}

header img{
    margin-top: 15px;
}
